@use '../variables';

.button {
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.3s ease;

    &:hover {
        background-color: lighten($color: variables.$backgroundButton, $amount: 15);
        transform: scale(1.1);
    }

    &--primary {
        color: variables.$textColor;
        background-color: variables.$backgroundButton;
    }

    @media (max-width: 640px) {
        display: flex;
        width: 100%;
    }

    @media (max-width: 1024px) {
        display: flex;
        align-items: center;
    }
}