$blue1: #1b6ca7;
$blue2: #442bdb;

$textColor: #fff;
$textColorSecondary: #000;

$backgroundButton: #4f2ac3;

$pink: #89223b;
$yellow: #9c791d;

$linearGradient: #184769;
$linearGradient1: #6d5ae1;
$linearGradient2: #c37c3e;
$linearGradient3: #6d696a;